.r-chart{
  font-size:10px;
}

.r-chart-detail-container{
  display:flex;
  position:absolute;
  width:0;
  height:0;
  justify-content: center;
  align-items:flex-end;
  user-select:none;
  -webkit-user-select:none;
  color:#fff;
}
.r-chart-detail{
  flex:1;
  display:grid;
  grid-template-columns:auto auto;
  border-radius:3px;
  padding:6px;
  background:rgba(10, 10, 10,.6);
  font-weight:bold;
}
.r-chart-detail-value{
  height:12px;
  line-height:12px;
  padding-left:3px;
  padding:0 3px;
}

.r-chart canvas{
  position:absolute;
  background:#fff;
}

.r-chart-deselect-all{
  position:absolute;
  width:50px;
  height:12px;
  color:#fff;
  font-size:8px;
  font-family:arial;
  border-radius:3px;
  background:red;
  z-index:100;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
}

.r-chart-setting{
  position:absolute;
  width:calc(100% - 12px);
  height:calc(100% - 12px);
  left:6px;
  top:6px;
  background:rgba(10, 10, 10,.6);
  z-index:10000;
  padding:12px;
  box-sizing:border-box;
  border-radius:8px;
}

.r-chart-data-list{
  width:100%;
  background:rgb(255, 255, 255);
  display:flex;
  align-items: center;
  margin-bottom:3px;
  padding:3px;
  cursor:pointer;
  user-select:none;
  -webkit-user-select:none;
  z-index:1000;
  box-sizing:border-box;
}
.r-chart-check{
  width:12px;
  height:12px;
  margin-right:3px;
  border:2px solid;
  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 14px;
}

.r-chart-check.checked:after{
  content:'\2714';
}
.r-chart-close-setting{
  width:48px;
  height:16px;
  float:right;
  position:absolute;
  bottom:12px;
  left:calc(50% - 24px);
  background: #fff;
  color:rgb(0, 0, 0);
  display:flex;
  justify-content: center;
  align-items:center;
  border-radius:3px;
  cursor:pointer;
}
.r-chart-toggle-setting{
  width:12px;
  height:12px;
  background:#fff;
  position:absolute;
  z-index:10;
  color:#000;
  display:flex;
  justify-content:center;
  align-items:center;
    cursor:pointer;

}
.r-chart-toggle-setting:after{
  content:'\2630';
}

.r-chart-title{
  top:0;
  position: absolute;
  left:unset;
  right:0;
  display:flex;
  align-items:center;
  white-space: nowrap;
}